body {
    padding: 0;
    margin-top: 110px;
    background-color: rgb(226, 226, 226);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 300vh;
}
.whatsapp {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px;
}
.bar-principal {
    background-color: rgb(0,74,173);
    box-shadow: 0 5px 50px;
    border-radius: 0 0 15px 15px;
    top: 0;
    left: 0;
    display: block;
    justify-content: space-around;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 90px;
    padding-top: 10px;
    z-index: 1;
}
.a-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    height: min-content;
    margin-bottom: 5px;
}
.img-logo {
    top: 0;
    width: 130px;
    object-fit: contain;
}
.instagram-a {
    height: min-content;
    margin-left: 10px;
}
.instagram {
    height: min-content;
    width: 30px;
}
.menu {
    margin-left: 10px;
    display: block;
    width: min-content;
    position: absolute;
}
.linha1 {
    background-color: black;
    height: 4px;
    width: 25px;
    transition: 0.5s;
}
.linha2{
    background-color: black;
    height: 4px;
    width: 25px;
    margin-top: 3px;
    transition: 0.5s;
}
.linha3 {
    background-color: black;
    height: 4px;
    width: 25px;
    margin-top: 3px;
    transition: 0.5s;
}
.linha1Anim {
    transform: rotate(-45deg) translate(0, 9.5px);
    transition: 0.5s;
}
.linha2Anim {
    opacity: 0;
    transition: 0.5s;
}
.linha3Anim {
    transform: rotate(45deg) translate(0, -9.5px);
    transition: 0.5s;
}
.style-search {
    background-color: white;
    position: relative;
    top: 0;
    border: 1px solid black;
    display: inline-flex; 
    height: 35px;
}
.bar-search {
    width: 180px;
    border: 0px solid;
    height: 35px;
    font-size: 18px;
}
.glass-search {
    width: 65px;
    height: 35px;
    background-color: rgb(19, 147, 252);
    border: 0px solid;
}
.alert-cart {
    color: white;
    background-color: rgb(255, 26, 26);
    font-size: 13px;
    margin-top: 15px;
    padding: 1px;
    border-radius: 20px;
    display: none;
    position: absolute;
}
.cart {
    font-size: 23px;    
}
.cart-content {
    height: 30px;
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    display: inline-flex;
}
.menu-view-big {
    display: none;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    border-radius: 0 0 15px 15px;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: rgb(22, 22, 37);
}
:hover.menu-a-link {
    color: rgb(80, 80, 235);
    text-decoration: underline;
}
.menu-a-link {
    color: white;
    text-decoration: none;
}
.menu-view-small {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 25px;
    display: block;
    position: fixed;
    background-color: #363636;
    width: 100%;
    left: 0;
    top: -85px;
    list-style: none;
    border-radius: 0 0 15px 15px;
    transition: 0.5s;
    box-shadow: 0 5px 50px;
}
.menu-view-small-bottom {
    transition: 0.5s;
    top: 85px;
}
.content-sales {
    text-align: center;
}
.emphasis {
    text-align: start;
    padding-left: 10px;
}
.emphasis-title {
    margin: 0;
}
hr {
    border: 1px solid black;
}
.box-product {
    display: inline-table;
    margin: 0.5rem;
    background-color: white;
    width: 100px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 10px rgb(117, 116, 116);
}
.img-product{
    object-fit: contain;
    height: 130px;
    width: 100px;
}
.info-products {
    font-size: 12px;
    width: 100px;
}
.add-Config {
    font-size: 20px;
    text-align: start;
}
.add-cart {
    height: 15px;
}
.price {
    color: rgb(15, 133, 230);
}
@media (min-width: 320px) {
    .bar-principal {
        display: block;
    }
    .bar-search {
        width: 250px;
    }
    .menu-view-big {
        display: none;
    }
    .menu-view-small {
        display: block;
    }
    .menu {
        display: block;
    }
    .cart-content {
        position: absolute;
        margin: 10px;
        right: 0;
        top: 0;
    }
    .box-product {
        width: 100px;
        height: 280px;
    }
    .img-product{
        object-fit: contain;
        height: 130px;
        width: 100px;
    }
    .info-products {
        font-size: 12px;
        width: 100px;
    }
}
@media (min-width: 640px) {
    .bar-principal {
        display: block;
    }
    .bar-search {
        width: 400px;
    }
    .menu-view-big {
        display: none;
    }
    .menu-view-small {
        display: block;
    }
    .menu {
        display: block;
    }
    .cart-content {
        position: absolute;
        margin: 10px;
        right: 0;
        top: 0;
    }
    .box-product {
        width: 100px;
        height: 300px;
    }
    .img-product{
        object-fit: contain;
        height: 130px;
        width: 100px;
    }
    .info-products {
        font-size: 12px;
        width: 100px;
    }
}
@media (min-width: 720px) {
    .bar-principal {
        display: inline-flex;
    }
    .bar-search {
        width: 450px;
    }
    .menu-view-big {
        display: inline-flex;
    }
    .menu-view-small {
        display: none;
    }
    .menu {
        display: none;
    }
    .cart-content {
        position: relative;
        margin-right: 10px;
        margin-top: 0;
    }
    .box-product {
        width: 200px;
        height: 400px;
    }
    .img-product{
        object-fit: contain;
        height: 230px;
        width: 200px;
    }
    .info-products {
        font-size: 17px;
        width: 200px;
    }
}
@media (min-width: 800px) {
    .bar-principal {
        display: inline-flex;
    }
    .bar-search {
        width: 550px;
    }
    .menu-view-big {
        display: inline-flex;
    }
    .menu-view-small {
        display: none;
    }
    .menu {
        display: none;
    }
    .cart-content {
        position: relative;
        margin-right: 10px;
        margin-top: 0;
    }
    .box-product {
        width: 200px;
        height: 400px;
    }
    .img-product{
        object-fit: contain;
        height: 230px;
        width: 200px;
    }
    .info-products {
        font-size: 17px;
        width: 200px;
    }
}
@media (min-width: 1080px) {
    .bar-principal {
        display: inline-flex;
    }
    .bar-search {
        width: 850px;
    }
    .menu-view-big {
        display: inline-flex;
    }
    .menu-view-small {
        display: none;
    }
    .menu {
        display: none;
    }
    .cart-content {
        position: relative;
        margin-right: 10px;
        margin-top: 0;
    }
    .box-product {
        width: 200px;
        height: 400px;
    }
    .img-product{
        object-fit: contain;
        height: 230px;
        width: 200px;
    }
    .info-products {
        font-size: 17px;
        width: 200px;
    }
}
